<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ace Design</title>
		<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		<div class="o-container u-fixed js-flash">
	        <% if(error && error.length > 0){ %>
	            <div class="c-alert c-alert-danger" role="alert">
	                <%= error %>
	            </div>
	        <% } %>
	        <% if(success && success.length > 0){ %>
	            <div class="c-alert c-alert-success" role="alert">
	                <%= success %>
	            </div>
	        <% } %>
	    </div>
		<div class="c-background-main">
			<h1 class="c-background-text">Ace</h1>
		</div>
		<main class="c-main">
			<section id="welcome" class="c-welcome o-section">
				<div class="c-welcome__arrow js-scroller" role="button">
					<svg height="70" width="70">
						<circle cx="35" cy="35" r="30" stroke="rgb(100,155,155)" stroke-width="3" fill="none" />
						<polyline points="15,25 35,50 55,25" stroke="rgb(100,155,155)" stroke-width="3" fill="none"/>
					</svg>
				</div>
			</section>
			<section id="about" class="c-about o-section">
				<div class="c-about-container o-container c-style-container">
					<h1>Freelance | Creative | Web Development</h1>
					<p>
						Hi there! My name is Andrew Nguyen.
					</p>
					<p>
						I'm a self-taught full-stack web-developer who learns everyday in this fast-growing field of technology.
						I believe every idea has a narrative behind it, bursting with potential.
						My mission is to mold that narrative into a website that captivates its target audience, so you can share your story with the world.
					</p>
					<p>
						Let's work together on your narrative.
					</p>
					<img class="c-profile-photo" src="https://scontent.fhou1-2.fna.fbcdn.net/v/t1.0-9/20621281_1650086948343107_5340385611386489109_n.jpg?oh=b168843424dc36e50ae17d7e221bb7f3&oe=5A7F0BED"/>
				</div>
			</section>
			<section id="narratives" class="c-narrative ">

			</section>
			<section class="c-hire o-section c-butt">
				<div class="o-container c-style-container">
					<h1>CONTACT ME</h1>
					<p>ace@acetnguyen.com</p>
					<form class="c-form" action="/" method="POST">
						<div class="c-form-group">
							<input class="c-form-control" type="text" placeholder="name" name="name" required/>
						</div>
						<div class="c-form-group">
							<input class="c-form-control c-form-right" type="email" placeholder="email" name="email" required/>
						</div>
						<div class="company">
							<input type="text" placeholder="Your company name" name="company" />
						</div>
						<div class="c-form-group">
							<textarea name="message" placeholder="How can I be of service?"cols="40" rows="10" class="c-form-control c-form-text" aria-invalid="false"></textarea>
						</div>
						<div class="c-form-group">
							<button class="c-form-btn">Send</button>
						</div>
					</form>
				</div>
			</section>
		</main>
		<footer class="c-sticky-footer">
			<div class="c-profiles">
				<ul>
					<li>
						<a href="www.linkedin.com/in/acetnguyen" class="c-icon">
							<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="https://github.com/acetn" class="c-icon">
							<i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/acetnguyen" class="c-icon">
							<i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/acetnguyen/" class="c-icon">
							<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
						</a>
					</li>
					<!-- <li>
						<a href="#" class="c-icon">
							<i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
						</a>
					</li> -->
				</ul>
			</div>
		</footer>
		<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</body>
</html>
