.CONCEPT {
    position: fixed;
    background: rgba(0,0,0,.5);
    border-radius: 20px;
    pointer-events: none;
    z-index: 4;
    left: 50%;
    transform: translate(-50%);
    top: 50%;
}
.CONCEPT h3 {
    color: white;
}

/* GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    
}
.o-wrap {
    overflow: hidden;
}
.o-section {
    height: 100vh;
    position: relative;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #AAA;
}
h3 {
    letter-spacing: .3em;
    margin: 0;
    padding: 0 20px;
    color: #555;

}
p {
    margin:0 auto;
    font-size: 10px;
    line-height: 12px;
    max-width: 40vw;
    font-weight: 600;
    color: #555;
}

/*WELCOME SECTION*/

.c-welcome__backdrop-wrap {
    width: 100%;
    height: 100vh;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}
.c-welcome__slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 40s linear infinite; 
  }
  
  .c-welcome__slideshow li:nth-child(1) { 
    background-image: url(https://static.pexels.com/photos/256737/pexels-photo-256737.jpeg) 
  }
  .c-welcome__slideshow li:nth-child(2) { 
    background-image: url(https://static.pexels.com/photos/169190/pexels-photo-169190.jpeg);
    animation-delay: 10s; 
  }
  .c-welcome__slideshow li:nth-child(3) { 
    background-image: url(https://static.pexels.com/photos/169211/pexels-photo-169211.jpeg);
    animation-delay: 20s; 
  }
  .c-welcome__slideshow li:nth-child(4) { 
    background-image: url(https://static.pexels.com/photos/169193/pexels-photo-169193.jpeg);
    animation-delay: 30s; 
  }
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
.c-welcome__mobile-nav-wrap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background: rgb(216, 220, 241);
    display: none;
}
.c-nav-background {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: #FAFAFA;
    padding: 7px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.c-nav-background .c-nav-logo {
    transform: translate(10px);
}
.c-welcome__nav-wrap {
    width: 20%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to right bottom, #FFF 49.9%, transparent 50.1%);
    transition: transform 2s;
}
.js-nav-slideout {
    transform: translate(40vw);
    transition: transform 2.1s;
}
.c-nav-logo {
    height: 100px;
    width: 200px;
    margin-left: 10px;
    background: url(sparkLogo.png) left center no-repeat;
    background-size: contain;
}
.c-nav-options {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: .3em;
    margin-top: 20%;
}
.c-nav-options ul {
    list-style: none;
}
.c-nav-options ul li {
    margin-top: 10px;
}
.c-nav-contact {
    padding-left: 40px;
    margin-top: 40px;
}
.c-welcome__scroll {
    position: absolute;
    z-index: 2;
    bottom: 25px;
    left: 53.5%;
    transform: translate(-50%);
    width: 50px;
    height: 75px;
    background: rgba(0,0,0,.5);
    border: 1px solid transparent;
    border-radius: 50px;
}
.c-welcome__scroll:hover svg polyline {
    stroke-width: 3;
    stroke: #AAA;
}
.c-contact-form {
    left: -40vw;
    width: 40vw;
    position: absolute;
    height: 100%;
    transition: transform 2s;
    background: #FFF;
}
.js-contact-form-active {
    transform: translate(40vw);
    transition: transform 2s;
}
.c-form {
	width: 80%;
	margin: 25px auto;
}
.c-form-group {
	margin-bottom: 15px;

}
.company{
	display: none;
}
.c-form-control {
    font-family: 'Raleway', sans-serif;
	float: left;
	margin-right: 5%;
	margin-bottom: 15px;
	box-sizing: border-box;
	color: #444444;
	background: transparent;
	background: rgba(166, 83, 173, 0.4);
	display: block;
	width: 47.5%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	border: 1px solid #AC8BB6;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.c-form-right {
	margin-right: 0;
	float: left;
}
.c-form-text {
	height:auto;
	width: 100%;
}
.c-form-btn {
	width: 100%;
	display: block;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333333;
	border-radius: 4px;
	color: #FFF;
	margin-bottom: 0;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	font-weight: 700;
	white-space: nowrap;
	background-color: #92649B;
	transition: all .5s;
}
.c-form-btn:hover {
	background-color: #CC80DF;
	transition: all .5s;
}

/*ABOUT SECTION*/
.c-about {
    border-top: 1px solid #AAA;
}
.c-about__title {
    height: 20vh;
    width: 100%;
    top: 40vh;
    text-align: left;
    padding-left: 20px;
    text-align: center;
    position: absolute;
}
.c-about__title h1 {
    vertical-align: middle;
    padding: 2% 0;
}
.c-kristina-bio__text {
    height: 40vh;
    width: calc(100vw - 36.51vh);
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to left, rgb(216, 220, 241) 20%, transparent 80%);
    
}
.c-kristina-bio__text h3 {
    text-align: right;
}
.c-kristina-picture{
    background: url(https://static1.squarespace.com/static/58bb5e4c15d5db65360600aa/t/59b445e359cc681cdd66a8dd/1504986726295/12365922_1489595641349651_4156104855538833167_o.jpg?format=500w) ;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    right: 0;
    width: 36.51vh;
    height: 40vh;
    position: absolute;
    z-index: 3;
}
.c-jessica-picture{
    background: url(https://static1.squarespace.com/static/58bb5e4c15d5db65360600aa/t/59527a6e6a4963246e919fe2/1505338458301/dsc_9445_26486087991_o.jpg?format=500w);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    bottom: 0;
    left: 0;
    width: 36.51vh;
    height: 40vh;
    position: absolute;   
}
.c-jessica-bio__text {
    height: 40vh;
    width: calc(100vw - 36.51vh);
    position: absolute;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgb(216, 220, 241) 20%, transparent 80%);
}
.c-jessica-bio__text p {
}

/* STORY SECTION */
.c-story {
    border-top: 1px solid #AAA;
    height: 100%;
    position: relative;
}
.c-gallery__slides {
    display: none;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  /* Caption text */
.c-gallery__cap {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* Fading animation */
  .c-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.c-credits {
    height: 200px;
    text-align: center;
    vertical-align: middle;
    background: rgb(216, 220, 241);
    color: #000;
    padding-top: 10%;
    position: relative;
}
.name {
    text-decoration: underline;
}

@media (max-width: 1040px){
    .c-welcome__nav-wrap {
        display: none;
    }
    .c-welcome__scroll {
        left: 50%;
    }
    .c-welcome__mobile-nav-wrap {
        display: flex;
    }
    
}